#header {
  font-size: 35px;
  font-weight: bold;
  font-family: "Andale Mono";

  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

#coming-soon-header {
  font-size: 35px;
  font-weight: bold;
  font-family: "Andale Mono";
}
